body {
    margin: 0;
}

button {
    cursor: pointer;
}

#convert{
    margin: 20px auto;
    text-align: center;
    width: 500px;
    border: 1px solid #191919;
    height: 130px;
}

#currency1, #currency2, #currency1-value, #currency2-value {
    box-sizing: border-box;
    height: 25px;
    width: 170px;
    padding-left: 10px;
}

#currency1-value, #currency1-value {
    margin-top: 10px;
}

#arrow, #swap {
    display: inline-block;
    width: 30px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#swap {
    color: floralwhite;
    background: rgba(88, 81, 81, 0.822);
    border: none;
    border-radius: 8px;
}

#time-convert {
    margin: 20px auto;
    text-align: center;
    width: 500px;
    border: 1px solid #191919;
    height: 400px;
    overflow-y: scroll;
}

#time-list {
    text-align: left;
}

#get-rate {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    height: 40px;
    border-radius: 12px;
}

#load{ 
    height: 200px;
    margin: 0 auto;
    display: none;
}